@use "../../../shared/colors&fonts" as *;

.dashboard-packages {
  .addpackage {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    .breadcrumb-item {
      font-size: 25px;
    }
    .addpackageButton {
      text-decoration: none;
      border: none;
      border-radius: 10px;
      background-color: $light_blue;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .icon {
        padding-right: 5px;
      }
      .text {
        font-size: 20px;
      }
    }
  }
  .pakagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card-config {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      border: 1px solid $dark_blue;
      background-color: $dark_blue;
      color: $white;
      border-radius: 35px;
      padding: 0px;
      margin: 15px;
      overflow: hidden;
      min-width: 22% !important;
      box-shadow: 8px 11px 12px 0px #584e00;
      .imge-box {
        height: 200px;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        img {
          padding: 0px !important;
          // border-radius: 10px;
          height: 100%;
          width: 100%;
        }
      }

      .text-box {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 0 10px;
        hr {
          margin: 5px 1px;
          color: $ink_blue;
          opacity: 0.8;
        }
        .title {
          text-transform: capitalize;
          font-family: $title_font;
          font-size: 30px;
          color: $yellow;
        }
        .desc {
          color: $white;
          font-size: 16px;
        }
        .admin {
          color: $gray;
          font-size: 18px;
        }
        .price {
          display: inline;
          text-align: center;
          font-size: 20px;
          color: $dark_blue;
          background-color: $yellow;
          border: 1px solid $yellow;
          border-radius: 5px;
          padding: 4px;
          .badge {
            top: 0;
            left: 90%;
          }
        }
        .spene {
          font-family: $normal_font;
          color: #e767a7;
          font-weight: bold;
          font-size: 18px;
        }
        .more {
          font-family: $normal_font;
          button {
            font-size: 16px;
            font-weight: bold;
            border: none;
            border: 1px solid $ink_blue;
            background-color: $dark_blue;
            color: #ff9800;
            border-radius: 30px;
            transition: all 500ms;
            // #d63384
            &:hover {
              z-index: 3;
              border-color: #86b7fe;
              outline: 0;
              box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            }
          }
          code {
            font-size: 18px;
          }
          .accordion-item {
            background-color: $dark_blue;
          }
          .accordion-header {
            margin: 5px;
            background-color: $dark_blue;
          }
          .accordion-body {
            background-color: $dark_blue;
            color: $white;
            font-size: 16px;
          }
        }
      }
    }
  }
}
