// Colors
$dark_blue :#00243f;
$light_blue:#264b77;
$ink_blue  :#3c5b74;
$gray      :#a3acb1;
$yellow    :#fcb700;
$black     :#000;
$white     :#fff;
$flower    :floralwhite;

// Fonts 
// Titles font
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
$title_font : 'Oleo Script', cursive ;
// Normal font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
$normal_font:'Lato', sans-serif;