.nav-link.active{
    color: black !important;
    border-color: #000000 #000000 #000 !important;
}
.nav-link{
    color: gray !important;
}
.dashborad-users{
    margin-top: 30px;
    margin-left: 90px !important;
    .breadcrumb-item{
        font-size: 25px;
    }

}